.release {
  background-color: var(--background-2);
  border: var(--border-size) solid var(--foreground-2);
  margin: 2rem auto;
  max-width: 40rem;
}

.release-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 100%;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    text-align: center;
  }
}

.release-main {
  padding: 1rem;
}

.release-links {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(1, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;

  .no-links {
    text-align: center;
  }

  .divider {
    border-top: var(--border-size) solid var(--background-1);
  }
}

.release-link {
  a {
    align-items: center;
    background-color: var(--background-1);
    border-radius: var(--border-radius);
    display: flex;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      background-color: var(--foreground-1);
    }
  }

  img {
    border-radius: var(--border-radius);
    height: 3rem;
    margin-right: 1rem;
  }
}
