.gruvbox-dark {
  --foreground-1: #fbf1c7;
  --foreground-2: #ebdbb2;
  --background-1: #282828;
  --background-2: #3c3836;
}

.gruvbox-light {
  --foreground-1: #282828;
  --foreground-2: #3c3836;
  --background-1: #fbf1c7;
  --background-2: #ebdbb2;
}
