.love-dark {
  --border-radius: 8px;
  --foreground-1: #f2efff;
  --foreground-2: #e6deff;
  --background-1: #1f1731;
  --background-2: #2a2041;
}

.love-light {
  --border-radius: 8px;
  --foreground-1: #1f1731;
  --foreground-2: #2a2041;
  --background-1: #f2efff;
  --background-2: #e6deff;
}
