.solarized-dark {
  --border-radius: 8px;
  --foreground-1: #839496;
  --foreground-2: #93a1a1;
  --background-1: #002b36;
  --background-2: #073642;
}

.solarized-light {
  --border-radius: 8px;
  --foreground-1: #657b83;
  --foreground-2: #586e75;
  --background-1: #fdf6e3;
  --background-2: #eee8d5;
}
